Repository thiras/clobster: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, cargo-clippy, cargo-deny

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# See https://pre-commit.com for more information
# Install: pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Rust formatting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --
        language: system
        types: [rust]
        pass_filenames: false
        description: Format Rust code with rustfmt

  # Rust linting
  - repo: local
    hooks:
      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false
        description: Lint Rust code with Clippy (deny warnings)

  # Cargo deny - security and license checks
  - repo: local
    hooks:
      - id: cargo-deny
        name: cargo deny check
        entry: bash
        args:
          - -c
          - 'command -v cargo-deny >/dev/null 2>&1 && cargo deny check || echo "⚠️  cargo-deny not installed. Run: cargo install cargo-deny"'
        language: system
        pass_filenames: false
        description: Check dependencies for security advisories and license compliance
        files: ^(Cargo\.(toml|lock)|deny\.toml)$

  # Commit message linting
  - repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v9.23.0
    hooks:
      - id: commitlint
        stages: [commit-msg]
        additional_dependencies: ['@commitlint/config-conventional']

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
        exclude: '\.md$'
      - id: end-of-file-fixer
        exclude: '\.md$'
      - id: check-yaml
        args: [--allow-multiple-documents]
      - id: check-added-large-files
        args: [--maxkb=1000]
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: [--fix=lf]

# Configuration
default_language_version:
  python: python3

chore: add Dependabot configuration for cargo package updates
  .github/dependabot.yml
Due: none

chore: add GitHub Actions workflows for CI checks, Docker release, documentation deployment, and versioned releases
  .github/workflows/ci-checks.yml
  .github/workflows/ci.yml
  .github/workflows/docker-release.yml
  .github/workflows/docs.yml
  .github/workflows/release-tag.yml
  .github/workflows/release.yml
Due: none

chore: update Clippy command in CI checks to remove profile specification
  .github/workflows/ci-checks.yml
Due: none

feat: implement TUI framework for Polymarket
  Cargo.lock
  Cargo.toml
  src/api/client.rs
  src/api/converter.rs
  src/api/mod.rs
  src/app.rs
  src/components/mod.rs
  src/config/mod.rs
  src/config/settings.rs
  src/error.rs
  src/events/handler.rs
  src/events/input.rs
  src/events/mod.rs
  src/lib.rs
  src/main.rs
  src/state/app_state.rs
  src/state/market_state.rs
  src/state/mod.rs
  src/state/order_state.rs
  src/state/portfolio_state.rs
  src/ui/layout.rs
  src/ui/mod.rs
  src/ui/widgets/help.rs
  src/ui/widgets/market_list.rs
  src/ui/widgets/mod.rs
  src/ui/widgets/notifications.rs
  src/ui/widgets/order_list.rs
  src/ui/widgets/position_list.rs
  src/ui/widgets/status_bar.rs
  src/ui/widgets/tab_bar.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

feat: add programmable strategy interface
  Cargo.lock
  Cargo.toml
  src/lib.rs
  src/strategy/context.rs
  src/strategy/engine.rs
  src/strategy/mod.rs
  src/strategy/risk.rs
  src/strategy/signal.rs
  src/strategy/strategies/mean_reversion.rs
  src/strategy/strategies/mod.rs
  src/strategy/strategies/momentum.rs
  src/strategy/strategies/spread.rs
  src/strategy/traits.rs
Due: cargo-fmt, cargo-clippy, cargo-deny

fix: address all PR review comments
  src/strategy/context.rs
  src/strategy/engine.rs
  src/strategy/risk.rs
  src/strategy/strategies/mean_reversion.rs
  src/strategy/strategies/momentum.rs
  src/strategy/strategies/spread.rs
  src/strategy/traits.rs
Due: cargo-fmt, cargo-clippy

fix: address remaining PR review comments
  src/strategy/engine.rs
  src/strategy/strategies/mean_reversion.rs
  src/strategy/strategies/momentum.rs
Due: cargo-fmt, cargo-clippy

fix: address third round of PR review comments
  src/strategy/context.rs
  src/strategy/strategies/spread.rs
Due: cargo-fmt, cargo-clippy

fix: add validation for periods=0 and max_inventory_imbalance=0
  src/strategy/context.rs
  src/strategy/strategies/spread.rs
Due: cargo-fmt, cargo-clippy

fix: update OrderRequest to use Option for price and add validation for limit orders
  src/state/mod.rs
  src/strategy/engine.rs
  src/strategy/risk.rs
  src/strategy/signal.rs
  src/strategy/strategies/mean_reversion.rs
  src/strategy/strategies/spread.rs
Due: cargo-fmt, cargo-clippy

docs: add Clobster AI coding instructions and development guidelines
  .github/copilot-instructions.md
Due: none

feat: Implement orderbook functionality with fetching, rendering, and state management
  src/api/client.rs
  src/api/converter.rs
  src/config/settings.rs
  src/events/handler.rs
  src/state/app_state.rs
  src/state/mod.rs
  src/state/orderbook_state.rs
  src/ui/mod.rs
  src/ui/widgets/help.rs
  src/ui/widgets/mod.rs
  src/ui/widgets/orderbook.rs
  src/ui/widgets/tab_bar.rs
Due: cargo-fmt, cargo-clippy

fix: update documentation to include OrderBookState and new fetch_orderbook functions
  .github/copilot-instructions.md
Due: none

chore: restrict Rust linting only to the main branch in pre-commit configuration
  .pre-commit-config.yaml
Due: none

build: update tokio features and add CI profile for clippy/lint optimizations
  Cargo.toml
Due: cargo-deny

docs: add mdbook documentation
  docs/.gitignore
  docs/book.toml
  docs/src/SUMMARY.md
  docs/src/api/core-types.md
  docs/src/api/state.md
  docs/src/api/strategy.md
  docs/src/architecture/data-flow.md
  docs/src/architecture/overview.md
  docs/src/architecture/state-management.md
  docs/src/development/contributing.md
  docs/src/development/release.md
  docs/src/development/testing.md
  docs/src/getting-started/configuration.md
  docs/src/getting-started/installation.md
  docs/src/getting-started/quick-start.md
  docs/src/introduction.md
  docs/src/strategies/built-in.md
  docs/src/strategies/custom.md
  docs/src/strategies/introduction.md
  docs/src/strategies/mean-reversion.md
  docs/src/strategies/momentum.md
  docs/src/strategies/risk-management.md
  docs/src/strategies/spread.md
Due: none

fix(ci): disable sccache for docs build job
  .github/workflows/ci-checks.yml
Due: none

fix(docs): use Decimal types and dec!() macro for financial values
  docs/src/development/contributing.md
  docs/src/getting-started/installation.md
  docs/src/introduction.md
  docs/src/strategies/custom.md
  docs/src/strategies/introduction.md
  docs/src/strategies/mean-reversion.md
  docs/src/strategies/momentum.md
  docs/src/strategies/spread.md
Due: none

build: add CI profile for test builds optimized for fast compilation
  Cargo.toml
Due: cargo-deny

feat(ci): add nextest configuration for test management and CI reporting
  .config/nextest.toml
Due: none

fix(ci): allow empty test partitions with --no-tests=pass
  .github/workflows/ci-checks.yml
Due: none

feat: implement order book fetching and state management
  src/api/client.rs
  src/api/converter.rs
  src/state/mod.rs
  src/state/orderbook_state.rs
Due: cargo-fmt, cargo-clippy

feat: add order book widget and integrate with UI
  src/ui/widgets/mod.rs
  src/ui/widgets/orderbook.rs
Due: cargo-fmt, cargo-clippy

refactor: simplify decimal conversion in order book calculations
  src/ui/widgets/orderbook.rs
Due: cargo-fmt, cargo-clippy

chore: clean up code formatting and improve readability in order book components
  src/api/client.rs
  src/state/mod.rs
  src/state/orderbook_state.rs
  src/ui/widgets/orderbook.rs
Due: cargo-fmt, cargo-clippy

feat: enhance VWAP methods with detailed documentation on liquidity handling
  src/state/orderbook_state.rs
Due: cargo-fmt, cargo-clippy

fix: validate order book depth to ensure it is within acceptable range
  src/state/mod.rs
Due: cargo-fmt, cargo-clippy

fix: update timestamp conversion for order book summary to use milliseconds
  src/api/converter.rs
Due: cargo-fmt, cargo-clippy

fix: allow dead_code for orderbook widgets pending UI integration
  src/ui/widgets/mod.rs
  src/ui/widgets/orderbook.rs
Due: cargo-fmt, cargo-clippy

docs: add order book module documentation
  docs/src/SUMMARY.md
  docs/src/api/orderbook.md
  docs/src/api/state.md
  docs/src/architecture/overview.md
Due: none

fix: add orderbook fetching support in App
  src/app.rs
Due: cargo-fmt, cargo-clippy

test: add comprehensive unit tests for orderbook_state
  src/state/orderbook_state.rs
Due: cargo-fmt, cargo-clippy

fix: address PR review comments for orderbook feature
  docs/src/api/orderbook.md
  src/api/client.rs
  src/state/orderbook_state.rs
  src/ui/widgets/mod.rs
  src/ui/widgets/orderbook.rs
Due: cargo-fmt, cargo-clippy

fix(state): use OrderBookError action for orderbook-specific errors
  src/app.rs
  src/state/mod.rs
Due: cargo-fmt, cargo-clippy

docs: add comprehensive README with features, installation, and usage instructions
  README.md
Due: none

fix: remove "production-grade" from Clobster description in README
  README.md
Due: none

docs: update copilot instructions for clarity and accuracy
  .github/copilot-instructions.md
Due: none

docs: rename Clobster to CLOBster
  README.md
  docs/book.toml
  docs/src/api/core-types.md
  docs/src/api/state.md
  docs/src/architecture/overview.md
  docs/src/architecture/state-management.md
  docs/src/development/contributing.md
  docs/src/development/release.md
  docs/src/development/testing.md
  docs/src/getting-started/configuration.md
  docs/src/getting-started/installation.md
  docs/src/getting-started/quick-start.md
  docs/src/introduction.md
  docs/src/strategies/built-in.md
  docs/src/strategies/introduction.md
  docs/src/strategies/risk-management.md
Due: none

fix(ci): add --force flag to mdBook install for partial cache hits
  .github/workflows/ci-checks.yml
Due: none
